@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css');
.bg {
  background-color: #06121e;
}

.btn-sub {
  background-color: #ffe08a;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.7);
}
.icon-edit:hover {
  color: #ffe08a !important;
}
.icon {
  display: none;
}

.image:hover .icon {
  display: block;
}
