* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #06121e;
}
.container {
    max-width: 100%;
    padding-top: 80px;
    padding-bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
form {
    width: 28%;
}
.box {
    background-color:#363636;
    border-radius:6px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.item {
    width: 90%;
    height: 60px;
    border-radius: 6px;
    border: 1px solid transparent;
}
h1 {
    color:#7a7a7a!important;
    margin-bottom: 25px;
    font-size: 30px;
}
.input{
    margin-bottom: 15px;
    font-size: 23px;
    padding-left: 20px;
    color: #363636;
}
.input:focus {
    outline: 0;
    border: 1px solid #428bca;
}
.button {
    color: #ffffff;
    font-size: 24px;
    background-color: #3E8ED0;
    font-size: 24px;
}
.button:hover {
    cursor: pointer;
    background-color: #3488ce;
}
::placeholder {
    font-size: 22px;
    text-align: left;
    color: #BBBBBB;
}
@media screen and (max-width: 1250px) {
    form {
        width: 35%;
    }
}
@media screen and (max-width: 1000px) {
    form {
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    form {
        width: 100%;
        margin: auto 40px;
    }
}